body {
    background-color: wheat;
}

#idCard {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 20px;
    text-align: center;
    max-width: 400px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.616);
    transition: all 0.3s ease;
}
#idCard:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.616);
}

#img-c {
    padding: 40px 0px;
    padding-bottom: 2px;
}

p {
    padding: 5px;
    margin: 0px;
}

hr {
    border: 5px solid red;
}

#info {
    text-align: left;
    padding: 10px;
}

#red {
    background-color: red;
}

#red p {
    writing-mode: vertical-rl;
    font-weight: bold;
    padding-top: 20px;
}

#sign {
    width: 60%;
    text-align: right;
    margin-right: 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#img-d {
    width: 120px;
    height: 180px;
}

#pp {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#box {
    display: flex;
    padding-top: 40px;
    padding-bottom: 20px;
}

#khutta {
    background-color: blue;
}