body{
    background-image: linear-gradient(rgba(2,6,23,0.56), rgba(2,6,23,0.65)), url(https://images.unsplash.com/5/night-city.jpg?q=80&w=1194&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); background-size: cover; background-position: center;
    color: white;
    font-family:sans-serif; 
    margin: 100px 20%;

}

a{
    color: yellow;
    text-decoration: none;
}

a:hover{
text-decoration: underline;
color: darkkhaki;
}

header{
    text-align: center;
    
}

header{
    backdrop-filter: blur(5px);
    padding: 20px;
border-radius: 20px;
}
footer{
margin-top: 20px;
bottom: 0;
position: fixed;
width: 100%;
padding: 10px 0;
text-align: center;
}