body{
    font-family: monospace;
    background-color: gray;
    max-width: 600px;
    margin: 100px auto;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 2px 50px 20px #ebd2d2;
    transition: 500ms;
}

body:hover{
    transform: scale(1.2);
    box-shadow: 2px 2px 100px 50px #ebd2d2;
}

div{
    display: flex;
    
}

h1{
    justify-content: center;
    margin: 10px auto;
}

section{
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    padding: 20px 20px;
}

table, th, td{
    border: 1px solid black;
    border-radius: 20px;
    color: black;
    border-collapse: collapse;
}