body {
    font-family: 'Times New Roman', Times, serif;

    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #eef2f3, #8e9eab);

    color: #000;
}

header {
    background: linear-gradient(to right, #000046, #1cb5e0);

    color: white;
    padding: 20px 0;
    text-align: center;
    border-bottom: 5px solid #000;
}

header h1 {
    margin: 0;
    padding: 10px;
    text-decoration: underline;

    text-transform: uppercase;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    background-color: #333;
    text-align: center;
}

nav ul li {
    display: inline;

    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
    background-color: transparent;
    color: yellow;
}

main {
    width: 90%;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border: 2px solid #000;
}

section {
    margin-bottom: 40px;
    border-bottom: 1px dashed #000;
    padding-bottom: 20px;
}


#home {
    text-align: center;
}

#home img {
    max-width: 100%;
    height: auto;
    border: 5px solid white;
}

#products {
    text-align: center;

}

article {
    display: inline-block;

    vertical-align: top;
    border: 3px double #000;
    margin: 10px;
    padding: 15px;
    width: 250px;
    text-align: center;
    background-color: white;
}

article:hover {
    background-color: #f0f0f0;
}

article img {
    max-width: 100%;
    border: 1px solid #ccc;
}

button {
    background: linear-gradient(to bottom, #4facfe 0%, #00f2fe 100%);
    color: black;
    border: 1px solid #000;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
    text-decoration: none;
}

button:hover {
    text-decoration: line-through;

}


footer {
    background: linear-gradient(to right, #232526, #414345);
    color: white;
    text-align: center;
    padding: 20px 0;
    border-top: 5px solid #000;
}

footer a {
    color: cyan;
    text-decoration: underline;
}